@model dynamic
@{ Layout.Title = T("Welcome to Orchard").ToString(); }
<section class="dashboard group">
    <div class="help-item">
        <h2 class="start">@T("Get up and running")</h2>
        <p>@T(@"Быстрый старт - все просто и интуитивно понятно.</a>.")</p>
    </div>
    <div class="help-item">
        <h2 class="gallery">@T("Get more goodies")</h2>
        <p>@T(@"Сложная конфигурация меню и страниц - за пару минут все будет сделано.")
        </p>
    </div>
    <div class="help-item">
        <h2 class="docs">@T("Read the Docs")</h2>
        <p>@T(@"Соответствие стандартам HTML5 гарантирует корректное отображение сайта на мобильных, планшетных и стационарных компьютерах.")</p>
    </div>
    <div class="help-item">
    <h2 class="friends">@T("Make friends")</h2>
        <p>@T(@"Социальная интеграция сайта с Facebook и ВКонтакте позволяет популяризировать ваш бизнес средствами сарафанного радио.")</p>
    </div>
    <div class="help-item">
        <h2 class="contribute">@T("Contribute back")</h2>
        <p>@T(@"Редактируйте содержание в любой момент с любого устройства.")</p>
    </div>

</section>


